@import url("https://fonts.googleapis.com/css2?family=Jua&family=Poppins:wght@300;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	/* background-color: #eaeaea !important; */
	background: rgb(249 250 251 / 1);
}

/* Scrollbar styles */
/* For Webkit/Blink browsers (Chrome, Safari, Opera) */
.custom-scroll::-webkit-scrollbar {
	width: none;
	scrollbar-width: none;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: rgb(248, 55, 87);
	/* Tailwind CSS color code */
	border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
	background-color: rgb(255, 255, 255);
	/* Tailwind CSS color code */
}

/* For Firefox */
.custom-scroll {
	scrollbar-width: none;
	scrollbar-color: #684a59 #cbd5e0;
	/* Tailwind CSS color codes */
}

.nav_background {
	background: linear-gradient(90deg, #fdf5eb 0.45%, #bf9592 103.57%);
}

.auth_background {
	background: linear-gradient(180deg, #f2f2f2 0%, #feffe4 90%, #eaeaea 100%),
		#fff;
}

.inputShadow {
	box-shadow: 0 0 0 0.2rem #c0d0e0;
}